---
title: Котепейдж
---
{% extends "layouts/_layout.html" %}
{% import "card/_card.html" as card_item %}
{% import "data/cards.html" as cards %}

{% block content %}
<h1 class="page__title">Ты сегодня покормил кота?</h1>
<div class="cards__wrapper">
  {% for card in cards.cards %}
    {{ card_item.content({
      disabled: card.disabled,
      isActive: card.isActive,
      select: card.select,
      label: card.label,
      card_title : card.card_title,
      subtitle: card.subtitle,
      add_info: card.add_info,
      weight: card.weight,
      dim: card.dim,
      link: card.link,
      img: card.img
    }) }}
  {% endfor %}
</div>
{% endblock %}
