{% set
cards = [
	{
    disabled: '',
    isActive: '',
    select: "Печень утки разварная с артишоками.",
    label: "Сказочное заморское яство",
    card_title : "Нямушка",
    subtitle: "с фуа-гра",
    add_info: [
      {
        amount: 10,
        description: "порций"
      },
      {
        amount: 0,
        description: "мышь в подарок"
      }
    ],
    weight: '0,5',
    dim: "кг",
    link: "#",
    img: 'img/cat.jpg'
  },
  {
    disabled: '',
    isActive: 'card--isActive',
    select: "Головы щучьи с чесноком да свежайшая сёмгушка.",
    label: "Сказочное заморское яство",
    card_title : "Нямушка",
    subtitle: "с рыбой",
    add_info: [
      {
        amount: 40,
        description: "порций"
      },
      {
        amount: 2,
        description: "мыши в подарок"
      }
    ],
    weight: '2',
    dim: "кг",
    link: "#",
    img: 'img/cat.jpg'
  },
  {
    disabled: 'card--disabled',
    isActive: '',
    select: "Филе из цыплят с трюфелями в бульоне.",
    label: "Сказочное заморское яство",
    card_title : "Нямушка",
    subtitle: "с курой",
    add_info: [
      {
        amount: 100,
        description: "порций"
      },
      {
        amount: 5,
        description: "мышей в подарок"
      },
      {
        amount: 0,
        description: "заказчик доволен"
      }
    ],
    weight: '5',
    dim: "кг",
    link: "#",
    img: 'img/cat.jpg'
  }
]
%}
