{% macro content(s) %}

{% set s = s or {} %}
{% set _isDisabled = s.disabled or '' %}
{% set _isActive = s.isActive or '' %}
{% set _select = s.select or '' %}
{% set _corner_label = s.label or '' %}
{% set _title = s.card_title or '' %}
{% set _subtitle = s.subtitle or '' %}
{% set _add = s.add_info or [] %}
{% set _weight = s.weight or '' %}
{% set _dim = s.dim or '' %}
{% set _link = s.link or '' %}
{% set _img = s.img or '' %}

<div class="card {{ _isActive }} {{ _isDisabled }}" data-select="{{ _select }}">
	<div class="card__corner"></div>
	<div class="card__corner-right"></div>
	<p class="card__corner-label">{{  _corner_label }}</p>
	<div class="card__content">
		<h3 class="card__title">{{ _title }}</h3>
		<h4 class="card__subtitle">{{ _subtitle }}</h4>
		<div class="card__additionalinfo-wrapper">
    {% for a in _add %}
			<p class="card__additionalinfo">{% if a.amount !== 0 %}<span class="card__additionalinfo-amount">{{ a.amount }}</span>{% endif %}{{ a.description }}</p>
    {% endfor %}
		</div>
		<div class="card__img-wrapper">
			<img src="{{ _img }}" alt="some-image" class="card__image"s>
		</div>
		<div class="card__weight-info">
			<span class="card__weight-amount">{{ _weight }}</span>
			<span class="card__weight-dimension">{{ _dim }}</span>
		</div>
	</div>
	<p class="card__default-info">Чего сидишь? Порадуй котэ, <a href="{{ _link }}" class="card__link">купи</a></p>
	<p class="card__selected-info card--hide-info"></p>
	<p class="card__disable-info card--hide-info">Печалька, <span></span> закончился</p>
</div>

{% endmacro %}

